<!DOCTYPE html>
<html>
  <head>
    <title>SHOUT!</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  <body>
    <div class="wrapper">
    	<header>
        <div class="container">
          <nav>
        		<ul class="header-menus">
        			<li><%= link_to "TOP", '/' %></li>
        			<li><%= link_to "SHOUT!一覧", blogs_path %></li>
        			<li><%= link_to "SHOUT!する", new_blog_path %></li>
        		</ul>
          </nav>
        </div>
    	</header>
      <%= yield %>
      <footer>
        <div class="container">
       	  <p>created by @inoueray</p>
        </div>
      </footer>
    </div>
  </body>
</html>
