<!DOCTYPE html>
<html>
  <head>
    <title>SHOUT!〜想いを叫べば、何かが変わるかも。〜</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  <body>
    <div class="wrapper">
    	<header>
        <div class="container-fluid">
          <nav class="header-menus">
        		<ul class="row">
        			<li class="col-sm-4"><%= link_to "TOP", '/' %></li>
        			<li class="col-sm-4"><%= link_to "SHOUT!一覧", blogs_path %></li>
        			<li class="col-sm-4"><%= link_to "SHOUT!する", new_blog_path %></li>
        		</ul>
          </nav>
        </div>
    	</header>
      <%= yield %>
      <footer>
        <div class="container">
       	  <p>created by @inoueray</p>
        </div>
      </footer>
    </div>
  </body>
</html>
